openapi: 3.0.0
info:
  description: |-
    For Resellers. <br>
    Who are looking to Innovate with Ingram Micro's API SolutionsAutomate your eCommerce with our offering of APIs and Webhooks to create a seamless experience for your customers.
  title: Reseller API
  version: "6.0"
servers:
- description: Sandbox
  url: https://api.ingrammicro.com:443/sandbox
tags:
- description: "\nThe Ingram Micro Product Catalog v6 API endpoints enable users to:\n\
    \  - Search products by SKU or additional criteria.\n  - Find price and availability\
    \ for up to 50 SKUs at one time.\n  - View inventory by location in the product\
    \ catalog.\n  \n *Host Production URL - https://api.ingrammicro.com:443/resellers/v6*\n\
    \ "
  name: Product Catalog
- description: "\nIngram Micro’s Orders v6 API endpoints support both standard products\
    \ and direct-ship products, including licensing and warranties SKUs. Users can:\n\
    \  - Search existing orders by Ingram Micro sales order number.\n  - View order\
    \ details.\n  - Create and place new orders.\n  - Cancel orders, as permitted\
    \ by order status.\n  \n*Host Production URL - https://api.ingrammicro.com:443/resellers/v6*\n\
    \   "
  name: Orders
- description: "\nThis endpoint enables the retrieval and filtering of relevant quote\
    \ list key criteria data, such as quote number, special bid numbers, end user\
    \ name, status, and date ranges from the Ingram Micro system. By default, the\
    \ Quotes endpoint retrieves quotes modified or created within the last 30 days.\n\
    Observe these additional parameters:\n  - Only active quotes are available through\
    \ this API.\n  - Quotes older than 365 days are excluded by default.\n  - You\
    \ can use date range filters to retrieve quotes older than 30 days and up to 365\
    \ days.\n  - Quotes that are in draft and closed states are excluded, and are\
    \ not accessible through this API.\n  \n*Host Production URL - https://api.ingrammicro.com:443/resellers/v6*\
    \  "
  name: Quotes
- description: ' '
  name: Quote To Order
- description: |2

    The Ingram Micro Invoice v6 API endpoint provide real-time information for invoices. Users can:
      - Get invoice information.
      - View invoice information is available for orders placed in the last 2 years, by providing an Invoice number.


    *Host Production URL - https://api.ingrammicro.com:443/resellers/v6*
  name: Invoices
- description: "\nA customer/reseller can select one or all of the events listed above\
    \ under one webhook or can create individual webhook for each event. The primary\
    \ reason to create multiple webhooks would be to have a dedicated destination\
    \ URL for each event for processing. It is not required to do so and is recommended\
    \ to have a single webhook for a resource type, for example a webhook for orders\
    \ and in future you may have a dedicated webhook for quotes.\n\n\n*Host Production\
    \ URL - https://api.ingrammicro.com:443/resellers/v1* \n"
  name: OrderStatus
- description: "\nA customer/reseller can select this event to get the updated quantity\
    \ of the IPN. This event will trigger the updated quantity with a particular interval.\
    \ To get the information of any SKU/IPN the customer should be authorized.\n\n\
    \n*Host Production URL - https://api.ingrammicro.com:443/resellers/v1*     \n"
  name: StockUpdate
- description: ' '
  name: Renewals
- description: ' '
  name: Deals
- description: ' '
  name: Returns
- description: ' '
  name: Freight Estimate
- description: |2

    Ingram Micro’s Orders v5 API endpoints support both standard products and direct-ship products, including licensing and warranties SKUs. Users can:
      - Search existing orders by Ingram Micro sales order number.
      - View order details.
      - Create and place new orders.
      - Cancel orders, as permitted by order status.


    *Host Production URL - https://api.ingrammicro.com:443/resellers/v5*
  name: Orders v5
- description: |2

    The Ingram Micro Product Catalog v6 API endpoints enable users to:
      - Search products by SKU or additional criteria.
      - Find price and availability for up to 50 SKUs at one time.
      - View inventory by location in the product catalog.


    *Host Production URL - https://api.ingrammicro.com:443/resellers/v5*
  name: Product Catalog v5
- description: |2

    The Ingram Micro Quotes v5 API endpoints enable users to:
      - Obtain a list of all quotes.
      - View details for each quote, including: quote name, quote number, expiration date, product quantity and product price.
      - Ingram Micro does not currently offer an API to create a quote.


    *Host Production URL - https://api.ingrammicro.com:443/resellers/v5*
  name: Quotes v5
- description: |2

    The Ingram Micro Invoice v5 API endpoint provide real-time information for invoices and corresponding orders. Users can:
      - Get invoice information for an open order or shipped order.
      - View invoice information is available for orders placed in the last 9 months, by providing a sales order number.


    *Host Production URL - https://api.ingrammicro.com:443/resellers/v5*
  name: Invoices V5
- description: |2-

    All our archived API endpoints, these APIs will be deprecated in 2021. We recommend using the latest version 6.0 endpoints.
  name: Invoices v4
- description: |2-

    All our archived API endpoints, these APIs will be deprecated in 2021. We recommend using the latest version 6.0 endpoints.
  name: Orders v4
- description: |2-

    All our archived API endpoints, these APIs will be deprecated in 2021. We recommend using the latest version 6.0 endpoints.
  name: Product Catalog v4
- description: |2-

    All our archived API endpoints, these APIs will be deprecated in 2021. We recommend using the latest version 6.0 endpoints.
  name: Quotes v4
paths:
  /resellers/v6/catalog/priceandavailability:
    post:
      description: "The PriceAndAvailability API, will retrieve Pricing, Availability,\
        \ discounts, Inventory Location, Reserve Inventory for the products upto 50\
        \ products. "
      operationId: post-priceandavailability
      parameters:
      - description: "Pass boolean value as input, if true the response will contain\
          \ warehouse availability details, if false the response will not hold warehouse\
          \ availability details"
        explode: true
        in: query
        name: includeAvailability
        required: true
        schema:
          items:
            type: boolean
            uniqueItems: false
          type: array
        style: form
      - description: "Pass boolean value as input, if true the response will contain\
          \ Pricing details of the Product, if false the response will not hold Pricing\
          \ details."
        explode: true
        in: query
        name: includePricing
        required: true
        schema:
          type: boolean
        style: form
      - description: "Pass boolean value as input, if true the response will contain\
          \ detailed attributes related to the Product, if false or not sent the response\
          \ will contain very few Product details."
        explode: true
        in: query
        name: includeProductAttributes
        required: false
        schema:
          type: boolean
        style: form
      - description: Your unique Ingram Micro customer number.
        explode: false
        in: header
        name: IM-CustomerNumber
        required: true
        schema:
          example: 20-222222
          maxLength: 10
          type: string
        style: simple
      - description: Two-character ISO country code.
        explode: false
        in: header
        name: IM-CountryCode
        required: true
        schema:
          example: US
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: Unique transaction number to identify each transaction across
          all the systems.
        explode: false
        in: header
        name: IM-CorrelationID
        required: true
        schema:
          example: fbac82ba-cf0a-4bcf-fc03-0c5084
          maxLength: 32
          type: string
        style: simple
      - description: "Unique value used to identify the sender of the transaction.\
          \ Example: MyCompany"
        explode: false
        in: header
        name: IM-SenderID
        required: false
        schema:
          example: MyCompany
          maxLength: 32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              with one product:
                value:
                  products:
                  - ingramPartNumber: "123512"
              with multiple products (both valid):
                value:
                  products:
                  - ingramPartNumber: "123512"
                  - ingramPartNumber: QQ0202
              with multiple products (valid + invalid):
                value:
                  products:
                  - ingramPartNumber: "123512"
                  - ingramPartNumber: "12351211"
              Request with combination of part numbers:
                value:
                  products:
                  - ingramPartNumber: QQ0202
                  - vendorPartNumber: "5204303"
              To find availability for particular Ingram Warehouse:
                value:
                  products:
                  - ingramPartNumber: 3N7314
                  availabilityByWarehouse:
                  - availabilityByWarehouseId: "40"
            schema:
              $ref: '#/components/schemas/PriceAndAvailabilityRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                SampleResponse:
                  value:
                  - productStatusMessage: ACOPS ARE AVAILABLE FOR THIS CUSTOMER AND
                      SKU
                    ingramPartNumber: 4A0036
                    vendorPartNumber: E2016HV
                    extendedVendorPartNumber: E2016HV
                    upc: "0884116186519"
                    vendorNumber: 802U
                    vendorName: DELL
                    description: 20IN MONITOR E2016HV 210-AGLU  MNTR
                    productClass: B
                    uom: EA
                    acceptBackOrder: true
                    productAuthorized: true
                    returnableProduct: true
                    endUserInfoRequired: false
                    govtSpecialPriceAvailable: true
                    availability:
                      available: false
                      totalAvailability: 0
                      availabilityByWarehouse:
                      - warehouseId: 20
                        location: "Fort Worth, TX"
                        quantityBackordered: 0
                        backOrderInfo:
                        - quantity: 1437
                          etaDate: 2025-01-01
                        - quantity: 8163
                          etaDate: 2026-01-01
                      - quantityAvailable: 0
                        warehouseId: 40
                        location: "Carol Stream, IL"
                        quantityBackordered: 156
                      - quantityAvailable: 0
                        warehouseId: 80
                        location: "Jonestown, PA"
                        quantityBackordered: 70
                      - quantityAvailable: 0
                        warehouseId: 10
                        location: "Mira Loma, CA"
                        quantityBackordered: 576
                    pricing:
                      mapPrice: 0
                      currencyCode: USD
                      retailPrice: 189.99
                      customerPrice: 74.34
                    discounts:
                    - specialPricing:
                      - specialPricingAvailableQuantity: 9999999
                        specialPricingExpirationDate: 2023-12-31
                        specialBidNumber: TESTRKP1
                        specialPricingMinQuantity: 0
                        specialPricingEffectiveDate: 2022-03-24
                        discountType: Special Bid
                        specialPricingDiscount: 6.74
                        governmentDiscountType: Federal
                        governmentDiscountedCustomerPrice: 67.6
                      - specialPricingAvailableQuantity: 0
                        specialPricingExpirationDate: 2022-08-12
                        specialPricingMinQuantity: 0
                        specialPricingEffectiveDate: 2022-07-20
                        discountType: Promo Discount
                        specialPricingDiscount: 135.56
                      quantityDiscounts:
                      - currencyType: string
                        amount: 0
                        quantity: 0
                        conditionType: string
                        currencyCode: string
                    bundlePartIndicator: boolean
                    serviceFees:
                    - conditionType: string
                      description: string
                      amount: decimal
                      endDate: 2023-01-27
                      currencyCode: string
              schema:
                $ref: '#/components/schemas/PriceAndAvailabilityResponse'
          description: OK
        "207":
          content:
            application/json:
              examples:
                with multiple products (valid + invalid):
                  value:
                  - productStatusMessage: ACOPS ARE AVAILABLE FOR THIS CUSTOMER AND
                      SKU
                    ingramPartNumber: "123512"
                    vendorPartNumber: LS1016A-CISCO
                    customerPartNumber: A5-8963TEST
                    upc: "0718908728116"
                    partNumberType: T
                    vendorNumber: "1234"
                    vendorName: INTERNAL
                    description: 6FT PARALLEL PRINTER DB25M TO  SVCS CENT36M PRO SERIES
                      28AWG ROHS
                    productClass: P
                    uom: EA
                    acceptBackOrder: true
                    productAuthorized: true
                    returnableProduct: true
                    endUserInfoRequired: true
                    availability:
                      available: true
                      totalAvailability: 240479
                      availabilityByWarehouse:
                      - location: "Fort Worth, TX"
                        warehouseId: "20"
                        quantityAvailable: 105415
                      - warehouseId: "25"
                        quantityAvailable: 100000
                      - location: "Millington, TN"
                        warehouseId: "30"
                        quantityAvailable: 9981
                      - location: "Carol Stream, IL"
                        warehouseId: "40"
                        quantityAvailable: 1049
                      - location: "Jonestown, PA"
                        warehouseId: "80"
                        quantityAvailable: 995
                      - location: "Mira Loma, CA"
                        warehouseId: "10"
                        quantityAvailable: 23039
                      - warehouseId: "81"
                      - warehouseId: "05"
                      pricing:
                        currencyCode: USD
                        retailPrice: 10
                        mapPrice: 540.25
                        customerPrice: 5.43
                  - productStatusCode: E
                    productStatusMessage: "Product not found for IngramPartNumber:\
                      \  12351211"
                    ingramPartNumber: "12351211"
              schema:
                $ref: '#/components/schemas/PriceAndAvailabilityResponse'
          description: Multi Status
        "400":
          content:
            application/json:
              examples:
                Single Error:
                  value:
                    errors:
                    - id: -bw0a10t1-2021-02-19T11:04:37.312-08:00
                      type: /errors/validation-failed
                      message: Validation failed
                      fields:
                      - field: IM-CorrelationID
                        value: ""
                        message: IM-CorrelationID cannot be blank
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
          headers:
            IM-CorrelationID:
              description: Unique transaction number to identify each transaction
                across all the systems.
              explode: false
              schema:
                type: string
              style: simple
            IM-SenderID:
              description: "Unique value used to identify the sender of the transaction.\
                \ Example: MyCompany"
              explode: false
              schema:
                example: MyCompany
                type: string
              style: simple
        "401":
          description: Unauthorized
        "500":
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    errors:
                    - id: C123-bw0a10u3-2021-02-19T11:12:26.436-08:00
                      type: /errors/system-errors
                      message: "Some unexpected error occured, please contact support\
                        \ team for more details."
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - application:
        - read
      summary: Price and Availability
      tags:
      - Product Catalog
      x-content-type: application/json
      x-accepts: application/json
  /resellers/v6/catalog:
    get:
      description: Search the Ingram Micro product catalog by providing any of the
        information in the keyword(Ingram part number / vendor part number/ product
        description / UPC
      operationId: get-reseller-v6-productsearch
      parameters:
      - description: Current page number. Default is 1
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Your unique Ingram Micro customer number
        explode: false
        in: header
        name: IM-CustomerNumber
        required: true
        schema:
          example: 20-222222
          maxLength: 10
          type: string
        style: simple
      - description: Number of records required in the call - max records 100 per
          page
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Sender Identification text
        explode: false
        in: header
        name: IM-SenderID
        required: false
        schema:
          example: MyCompany
          maxLength: 32
          type: string
        style: simple
      - description: "The SKU type of product. One of Physical, Digital, or Any."
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - IM::physical
          - IM::digital
          - IM::any
          type: string
        style: form
      - description: Unique transaction number to identify each transaction accross
          all the systems
        explode: false
        in: header
        name: IM-CorrelationID
        required: true
        schema:
          example: fbac82ba-cf0a-4bcf-fc03-0c5084
          maxLength: 32
          type: string
        style: simple
      - description: Specifies if there are discounts available for the product.
        explode: true
        in: query
        name: hasDiscounts
        required: false
        schema:
          example: "true"
          type: string
        style: form
      - description: The name of the vendor/manufacturer of the product.
        explode: true
        in: query
        name: vendor
        required: false
        schema:
          items:
            type: string
            uniqueItems: false
          type: array
        style: form
      - description: The vendors part number for the product.
        explode: true
        in: query
        name: vendorPartNumber
        required: false
        schema:
          items:
            type: string
            uniqueItems: false
          type: array
        style: form
      - description: Two-character ISO country code.
        explode: false
        in: header
        name: IM-CountryCode
        required: true
        schema:
          example: US
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: "Header to the API calls, the content will help us identify the\
          \ response language."
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          type: string
        style: simple
      - description: Vendor number of the product
        explode: true
        in: query
        name: vendorNumber
        required: false
        schema:
          type: string
        style: form
      - description: "Keyword search,can be ingram part number or vendor part number\
          \ or product title or vendor nameKeyword search. Can be Ingram Micro part\
          \ number, vender part number, product title, or vendor name."
        explode: true
        in: query
        name: keyword
        required: false
        schema:
          items:
            type: string
            uniqueItems: false
          type: array
        style: form
      - description: "The category of the product. Example: Displays."
        explode: true
        in: query
        name: category
        required: false
        schema:
          example: Accessories
          type: string
        style: form
      - description: "This parameter is True when you want Skip the authorization,\
          \ so template will work like current B2b template."
        explode: true
        in: query
        name: skipAuthorisation
        required: false
        schema:
          example: "true"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Success - 200:
                  value:
                    recordsFound: 1180
                    pageSize: 25
                    pageNumber: 2
                    catalog:
                    - description: ' CLASS 10 100MB/S UHS-I CARD'
                      category: device storage
                      subCategory: Flash Memory Devices
                      productType: ""
                      ingramPartNumber: 1A8249
                      vendorPartNumber: SDSQUNC-016G-AN6IA
                      upcCode: "0619659134587"
                      vendorName: Sandisk Mobile
                      endUserRequired: "false"
                      hasDiscounts: ""
                      type: IM::Physical
                      discontinued: "false"
                      newProduct: "false"
                      directShip: "false"
                      hasWarranty: "false"
                      extraDescription: 'IPAD AIR CELL 256GB SKY BLUE '
                      replacementSku: ""
                      authorizedToPurchase: "true"
                      links:
                      - topic: catalog
                        href: /catalog/1A8249
                        type: GET
                    nextPage: /resellers/v6/catalog?keyword=mobilepageSize=25&pageNumber=3
                    previousPage: /resellers/v6/catalog?keyword=mobilepageSize=25&pageNumber=1
              schema:
                $ref: '#/components/schemas/ProductSearch_Response'
          description: a ProductSearchv6ResponseElement to be returned
          headers:
            IM-CorrelationID:
              description: Unique transaction number to identify each transaction
                accross all the systems.
              explode: false
              schema:
                type: string
              style: simple
            IM-SenderID:
              description: Sender Identification text .
              explode: false
              schema:
                example: MyCompany
                maxLength: 32
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                "400 - Bad Request":
                  value:
                    errors:
                    - id: C123-bw0a10u3-2021-03-18T11:12:26.436-08:00
                      type: /errors/validation-failed
                      message: Validation failed
                      fields:
                      - field: IM-CountryCode
                        message: Required field is missing
                      - field: IM-CustomerNumber
                        message: Required field is missing
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
          headers:
            IM-CorrelationID:
              description: Unique transaction number to identify each transaction
                accross all the systems.
              explode: false
              schema:
                type: string
              style: simple
            IM-SenderID:
              description: Sender Identification text .
              explode: false
              schema:
                example: MyCompany
                maxLength: 32
                type: string
              style: simple
        "404":
          content:
            application/json:
              examples:
                "404 - Not Found":
                  value:
                    errors:
                    - id: 123
                      type: Validation error
                      message: No Records Found
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: No Content
        "500":
          content:
            application/json:
              examples:
                Server Error:
                  value:
                    errors:
                    - id: C123-bw0a10u3-2021-03-18T11:12:26.436-08:00
                      type: /errors/system-errors
                      message: "Some unexpected error occured, please contact support\
                        \ team for more details"
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
          headers:
            IM-CorrelationID:
              description: Unique transaction number to identify each transaction
                accross all the systems.
              explode: false
              schema:
                type: string
              style: simple
            IM-SenderID:
              description: Sender Identification text .
              explode: false
              schema:
                example: MyCompany
                maxLength: 32
                type: string
              style: simple
      security:
      - application:
        - read
      summary: Search Products
      tags:
      - Product Catalog
      x-accepts: application/json
  /resellers/v6/catalog/details/{ingramPartNumber}:
    get:
      description: "Search all the product-related details using a unique Ingram Part\
        \ Number. Currently, this API is available in the USA, India, and Netherlands."
      operationId: get-reseller-v6-productdetail
      parameters:
      - description: Ingram Micro unique part number for the product
        explode: false
        in: path
        name: ingramPartNumber
        required: true
        schema:
          example: 6YE881
          maxLength: 6
          type: string
        style: simple
      - description: Your unique Ingram Micro customer number
        explode: false
        in: header
        name: IM-CustomerNumber
        required: true
        schema:
          example: 20-222222
          maxLength: 10
          type: string
        style: simple
      - description: Two-character ISO country code.
        explode: false
        in: header
        name: IM-CountryCode
        required: true
        schema:
          example: US
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: Sender Identification text
        explode: false
        in: header
        name: IM-SenderID
        required: false
        schema:
          example: MyCompany
          maxLength: 32
          type: string
        style: simple
      - description: Unique transaction number to identify each transaction accross
          all the systems
        explode: false
        in: header
        name: IM-CorrelationID
        required: true
        schema:
          example: fbac82ba-cf0a-4bcf-fc03-0c5084
          maxLength: 32
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                "200":
                  description: OK
                  value:
                    ingramPartNumber: "5348387"
                    vendorPartNumber: 20VE0117MH
                    productAuthorized: "True"
                    description: TB 15 G2 CI5-1135G7 8/256GB 15.6 W11P
                    productDetailDescription: Lenovo ThinkBook 15 G2 ITL 20VE0117MH
                      39.6 cm (15.6") Notebook - Full HD - 1920 x 1080 - Intel Core
                      i5 11th Gen i5-1135G7 Quad-core (4 Core) 2.40 GHz - 8 GB Total
                      RAM - 256 GB SSD - Mineral Gray - Intel Chip - Windows 11 Pro
                      - Intel Iris Xe Graphics - In-plane Switching (IPS) Technology
                      - English (Euro) Keyboard - 6 Hours Battery Run Time - IEEE
                      802.11ax Wireless LAN Standard
                    upc: "196119831243"
                    productCategory: Computers Test Duplicate
                    productSubcategory: Notebooks & Tablets
                    vendorName: Lenovo
                    vendorNumber: "0000500082"
                    productStatusCode: null
                    productClass: null
                    indicators:
                      hasWarranty: true
                      isNewProduct: false
                      hasReturnLimits: false
                      isBackOrderAllowed: false
                      isShippedFromPartner: false
                      isReplacementProduct: false
                      replacementType: null
                      isDirectship: false
                      isDownloadable: false
                      isDigitalType: false
                      skuType: M
                      hasStdSpecialPrice: false
                      hasAcopSpecialPrice: false
                      hasAcopQuantityBreak: false
                      hasStdWebDiscount: false
                      hasAcopWebDiscount: false
                      hasSpecialBid: false
                      isExportableToCountry: false
                      isDiscontinuedProduct: true
                      isRefurbished: false
                      isReturnableProduct: false
                      isIngramShip: true
                      isEnduserRequired: false
                      isHeavyWeight: false
                      hasLtl: false
                      isClearanceProduct: false
                      hasBundle: false
                      isOversizeProduct: false
                      isPreorderProduct: false
                      isLicenseProduct: false
                      isDirectshipOrderable: true
                      isServiceSku: false
                      isConfigurable: false
                    ciscoFields:
                      productSubGroup: null
                      serviceProgramName: null
                      itemCatalogCategory: null
                      configurationIndicator: null
                      internalBusinessEntity: null
                      itemType: null
                      globalListPrice: null
                    technicalSpecifications:
                    - headername: Basic
                      attributevalue: Notebook
                      attributedisplay: Basic|Product Type|Notebook
                      attributename: Product Type
                    - headername: Basic
                      attributevalue: 1920 x 1080
                      attributedisplay: Basic|Screen Resolution|1920 x 1080
                      attributename: Screen Resolution
                    - headername: Basic
                      attributevalue: 1.70 kg
                      attributedisplay: Basic|Weight (Approximate)|1.70 kg
                      attributename: Weight (Approximate)
                    - headername: Basic
                      attributevalue: Windows 11 Pro
                      attributedisplay: Basic|Operating System|Windows 11 Pro
                      attributename: Operating System
                    - headername: Basic
                      attributevalue: Intel
                      attributedisplay: Basic|Chipset|Intel
                      attributename: Chipset
                    - headername: Basic
                      attributevalue: SSD
                      attributedisplay: Basic|Drive Type|SSD
                      attributename: Drive Type
                    - headername: Basic
                      attributevalue: 2.40 GHz
                      attributedisplay: Basic|Processor Speed|2.40 GHz
                      attributename: Processor Speed
                    - headername: Basic
                      attributevalue: Core i5
                      attributedisplay: Basic|Processor Type|Core i5
                      attributename: Processor Type
                    - headername: Basic
                      attributevalue: 39.6 cm (15.6")
                      attributedisplay: Basic|Screen Size|39.6 cm (15.6")
                      attributename: Screen Size
                    - headername: Basic
                      attributevalue: Lenovo
                      attributedisplay: Basic|Brand Name|Lenovo
                      attributename: Brand Name
                    - headername: Basic
                      attributevalue: Full HD
                      attributedisplay: Basic|Screen Mode|Full HD
                      attributename: Screen Mode
                    - headername: Basic
                      attributevalue: i5-1135G7
                      attributedisplay: Basic|Processor Model|i5-1135G7
                      attributename: Processor Model
                    - headername: Basic
                      attributevalue: Quad-core (4 Core)
                      attributedisplay: Basic|Processor Core|Quad-core (4 Core)
                      attributename: Processor Core
                    - headername: Basic
                      attributevalue: "No"
                      attributedisplay: Basic|Touchscreen|No
                      attributename: Touchscreen
                    - headername: Basic
                      attributevalue: Intel
                      attributedisplay: Basic|Processor Manufacturer|Intel
                      attributename: Processor Manufacturer
                    - headername: Basic
                      attributevalue: Intel
                      attributedisplay: Basic|Graphics Controller Manufacturer|Intel
                      attributename: Graphics Controller Manufacturer
                    - headername: Basic
                      attributevalue: Iris Xe Graphics
                      attributedisplay: Basic|Graphics Controller Model|Iris Xe Graphics
                      attributename: Graphics Controller Model
                    - headername: Basic
                      attributevalue: "Yes"
                      attributedisplay: Basic|Bluetooth|Yes
                      attributename: Bluetooth
                    - headername: Basic
                      attributevalue: "No"
                      attributedisplay: Basic|Optical Drive Type|No
                      attributename: Optical Drive Type
                    - headername: Basic
                      attributevalue: Shared
                      attributedisplay: Basic|Graphics Memory Accessibility|Shared
                      attributename: Graphics Memory Accessibility
                    - headername: Basic
                      attributevalue: 6 Hours
                      attributedisplay: Basic|Maximum Battery Run Time|6 Hours
                      attributename: Maximum Battery Run Time
                    - headername: Basic
                      attributevalue: "Yes"
                      attributedisplay: Basic|Finger Print Reader|Yes
                      attributename: Finger Print Reader
                    - headername: Basic
                      attributevalue: IEEE 802.11ax
                      attributedisplay: Basic|Wireless LAN Standard|IEEE 802.11ax
                      attributename: Wireless LAN Standard
                    - headername: Basic
                      attributevalue: 65 W
                      attributedisplay: Basic|Maximum Power Supply Wattage|65 W
                      attributename: Maximum Power Supply Wattage
                    - headername: Basic
                      attributevalue: ThinkBook 15 G2 ITL
                      attributedisplay: Basic|Product Family|ThinkBook 15 G2 ITL
                      attributename: Product Family
                    - headername: Basic
                      attributevalue: 64-bit
                      attributedisplay: Basic|Operating System Architecture|64-bit
                      attributename: Operating System Architecture
                    - headername: Basic
                      attributevalue: "3"
                      attributedisplay: Basic|Total Number of USB Ports|3
                      attributename: Total Number of USB Ports
                    - headername: Basic
                      attributevalue: "Yes"
                      attributedisplay: Basic|Keyboard Backlight|Yes
                      attributename: Keyboard Backlight
                    - headername: Basic
                      attributevalue: 256 GB
                      attributedisplay: Basic|Total Solid State Drive Capacity|256
                        GB
                      attributename: Total Solid State Drive Capacity
                    - headername: Basic
                      attributevalue: Windows
                      attributedisplay: Basic|Operating System Platform|Windows
                      attributename: Operating System Platform
                    - headername: Basic
                      attributevalue: English (Euro)
                      attributedisplay: Basic|Keyboard Localization|English (Euro)
                      attributename: Keyboard Localization
                    - headername: Basic
                      attributevalue: Dutch/English/French/German
                      attributedisplay: Basic|Operating System Language|Dutch/English/French/German
                      attributename: Operating System Language
                    - headername: Basic
                      attributevalue: 11th Gen
                      attributedisplay: Basic|Processor Generation|11th Gen
                      attributename: Processor Generation
                    - headername: Basic
                      attributevalue: "Yes"
                      attributedisplay: Basic|Energy Star|Yes
                      attributename: Energy Star
                    - headername: Basic
                      attributevalue: 1 Year
                      attributedisplay: Basic|Limited Warranty Duration|1 Year
                      attributename: Limited Warranty Duration
                    - headername: Basic
                      attributevalue: Mineral Gray
                      attributedisplay: Basic|Product Color|Mineral Gray
                      attributename: Product Color
                    - headername: Basic
                      attributevalue: 8 GB
                      attributedisplay: Basic|Total Installed System Memory|8 GB
                      attributename: Total Installed System Memory
                    - headername: Battery Information
                      attributevalue: 6 Hours
                      attributedisplay: Battery Information|Maximum Battery Run Time|6
                        Hours
                      attributename: Maximum Battery Run Time
                    - headername: Built-in Devices
                      attributevalue: "Yes"
                      attributedisplay: Built-in Devices|Finger Print Reader|Yes
                      attributename: Finger Print Reader
                    - headername: Built-in Devices
                      attributevalue: "Yes"
                      attributedisplay: Built-in Devices|Front Camera/Webcam|Yes
                      attributename: Front Camera/Webcam
                    - headername: Chipset
                      attributevalue: Intel
                      attributedisplay: Chipset|Chipset Manufacturer|Intel
                      attributename: Chipset Manufacturer
                    - headername: Display & Graphics
                      attributevalue: 1920 x 1080
                      attributedisplay: Display & Graphics|Screen Resolution|1920
                        x 1080
                      attributename: Screen Resolution
                    - headername: Display & Graphics
                      attributevalue: 39.6 cm (15.6")
                      attributedisplay: Display & Graphics|Screen Size|39.6 cm (15.6")
                      attributename: Screen Size
                    - headername: Display & Graphics
                      attributevalue: Full HD
                      attributedisplay: Display & Graphics|Screen Mode|Full HD
                      attributename: Screen Mode
                    - headername: Display & Graphics
                      attributevalue: "No"
                      attributedisplay: Display & Graphics|Touchscreen|No
                      attributename: Touchscreen
                    - headername: Display & Graphics
                      attributevalue: Intel
                      attributedisplay: Display & Graphics|Graphics Controller Manufacturer|Intel
                      attributename: Graphics Controller Manufacturer
                    - headername: Display & Graphics
                      attributevalue: Iris Xe Graphics
                      attributedisplay: Display & Graphics|Graphics Controller Model|Iris
                        Xe Graphics
                      attributename: Graphics Controller Model
                    - headername: Display & Graphics
                      attributevalue: DDR4 SDRAM
                      attributedisplay: Display & Graphics|Graphics Memory Technology|DDR4
                        SDRAM
                      attributename: Graphics Memory Technology
                    - headername: Display & Graphics
                      attributevalue: Shared
                      attributedisplay: Display & Graphics|Graphics Memory Accessibility|Shared
                      attributename: Graphics Memory Accessibility
                    - headername: Display & Graphics
                      attributevalue: In-plane Switching (IPS) Technology
                      attributedisplay: Display & Graphics|Display Screen Technology|In-plane
                        Switching (IPS) Technology
                      attributename: Display Screen Technology
                    - headername: General Information
                      attributevalue: Notebook
                      attributedisplay: General Information|Product Type|Notebook
                      attributename: Product Type
                    - headername: General Information
                      attributevalue: 20VE0117MH
                      attributedisplay: General Information|Manufacturer Part Number|20VE0117MH
                      attributename: Manufacturer Part Number
                    - headername: General Information
                      attributevalue: http://www.lenovo.com/nl/en
                      attributedisplay: General Information|Manufacturer Website Address|http://www.lenovo.com/nl/en
                      attributename: Manufacturer Website Address
                    - headername: General Information
                      attributevalue: Lenovo Group Limited
                      attributedisplay: General Information|Manufacturer|Lenovo Group
                        Limited
                      attributename: Manufacturer
                    - headername: General Information
                      attributevalue: 20VE0117MH
                      attributedisplay: General Information|Product Model|20VE0117MH
                      attributename: Product Model
                    - headername: General Information
                      attributevalue: ThinkBook 15 G2 ITL 20VE0117MH Notebook
                      attributedisplay: General Information|Product Name|ThinkBook
                        15 G2 ITL 20VE0117MH Notebook
                      attributename: Product Name
                    - headername: General Information
                      attributevalue: ThinkBook
                      attributedisplay: General Information|Product Line|ThinkBook
                      attributename: Product Line
                    - headername: General Information
                      attributevalue: 15 G2 ITL
                      attributedisplay: General Information|Product Series|15 G2 ITL
                      attributename: Product Series
                    - headername: General Information
                      attributevalue: Lenovo
                      attributedisplay: General Information|Brand Name|Lenovo
                      attributename: Brand Name
                    - headername: General Information
                      attributevalue: "<p><b>Built for business, designed for you</b></p><p>These\
                        \ laptops make it easy to do business with style. From options\
                        \ that keep you up and running without pause, to security\
                        \ that works behind the scenes. And that's not all-ThinkBook\
                        \ laptops boast awesome entertainment features. And they're\
                        \ eye catching too.</p>"
                      attributedisplay: "General Information|Marketing Information|<p><b>Built\
                        \ for business, designed for you</b></p><p>These laptops make\
                        \ it easy to do business with style. From options that keep\
                        \ you up and running without pause, to security that works\
                        \ behind the scenes. And that's not all-ThinkBook laptops\
                        \ boast awesome entertainment features. And they're eye catching\
                        \ too.</p>"
                      attributename: Marketing Information
                    - headername: Input Devices
                      attributevalue: "Yes"
                      attributedisplay: Input Devices|Keyboard Backlight|Yes
                      attributename: Keyboard Backlight
                    - headername: Input Devices
                      attributevalue: English (Euro)
                      attributedisplay: Input Devices|Keyboard Localization|English
                        (Euro)
                      attributename: Keyboard Localization
                    - headername: Interfaces/Ports
                      attributevalue: "Yes"
                      attributedisplay: Interfaces/Ports|Network (RJ-45)|Yes
                      attributename: Network (RJ-45)
                    - headername: Interfaces/Ports
                      attributevalue: "3"
                      attributedisplay: Interfaces/Ports|Total Number of USB Ports|3
                      attributename: Total Number of USB Ports
                    - headername: Interfaces/Ports
                      attributevalue: "2"
                      attributedisplay: Interfaces/Ports|Number of USB 3.2 Gen 1 Ports|2
                      attributename: Number of USB 3.2 Gen 1 Ports
                    - headername: Interfaces/Ports
                      attributevalue: "1"
                      attributedisplay: Interfaces/Ports|Number of USB 3.2 Gen 2 Type-C
                        Ports|1
                      attributename: Number of USB 3.2 Gen 2 Type-C Ports
                    - headername: Interfaces/Ports
                      attributevalue: "1"
                      attributedisplay: Interfaces/Ports|Number of Thunderbolt 4 Ports|1
                      attributename: Number of Thunderbolt 4 Ports
                    - headername: Memory
                      attributevalue: 8 GB
                      attributedisplay: Memory|Total Installed System Memory|8 GB
                      attributename: Total Installed System Memory
                    - headername: Memory
                      attributevalue: DDR4 SDRAM
                      attributedisplay: Memory|System Memory Technology|DDR4 SDRAM
                      attributename: System Memory Technology
                    - headername: Memory
                      attributevalue: 3200 MHz
                      attributedisplay: Memory|System Memory Speed|3200 MHz
                      attributename: System Memory Speed
                    - headername: Miscellaneous
                      attributevalue: <li>ThinkBook 15 G2 ITL 20VE0117MH Notebook</li>
                        <li>AC Adapter</li>
                      attributedisplay: Miscellaneous|Package Contents|<li>ThinkBook
                        15 G2 ITL 20VE0117MH Notebook</li> <li>AC Adapter</li>
                      attributename: Package Contents
                    - headername: Miscellaneous
                      attributevalue: Anti-glare Screen
                      attributedisplay: Miscellaneous|Features|Anti-glare Screen
                      attributename: Features
                    - headername: Miscellaneous
                      attributevalue: "Yes"
                      attributedisplay: Miscellaneous|Environmentally Friendly|Yes
                      attributename: Environmentally Friendly
                    - headername: Miscellaneous
                      attributevalue: RoHS
                      attributedisplay: Miscellaneous|Environmental Certification|RoHS
                      attributename: Environmental Certification
                    - headername: Miscellaneous
                      attributevalue: ErP Lot 3
                      attributedisplay: Miscellaneous|Environmental Certification|ErP
                        Lot 3
                      attributename: Environmental Certification
                    - headername: Miscellaneous
                      attributevalue: ENERGY STAR 8.0
                      attributedisplay: Miscellaneous|Environmental Certification|ENERGY
                        STAR 8.0
                      attributename: Environmental Certification
                    - headername: Miscellaneous
                      attributevalue: EPEAT Silver
                      attributedisplay: Miscellaneous|Environmental Certification|EPEAT
                        Silver
                      attributename: Environmental Certification
                    - headername: Miscellaneous
                      attributevalue: "Yes"
                      attributedisplay: Miscellaneous|Energy Star|Yes
                      attributename: Energy Star
                    - headername: Network & Communication
                      attributevalue: "Yes"
                      attributedisplay: Network & Communication|Bluetooth|Yes
                      attributename: Bluetooth
                    - headername: Network & Communication
                      attributevalue: "Yes"
                      attributedisplay: Network & Communication|Wireless LAN|Yes
                      attributename: Wireless LAN
                    - headername: Network & Communication
                      attributevalue: IEEE 802.11ax
                      attributedisplay: Network & Communication|Wireless LAN Standard|IEEE
                        802.11ax
                      attributename: Wireless LAN Standard
                    - headername: Network & Communication
                      attributevalue: Gigabit Ethernet
                      attributedisplay: Network & Communication|Ethernet Technology|Gigabit
                        Ethernet
                      attributename: Ethernet Technology
                    - headername: Operating System
                      attributevalue: Windows 11 Pro
                      attributedisplay: Operating System|Operating System|Windows
                        11 Pro
                      attributename: Operating System
                    - headername: Operating System
                      attributevalue: 64-bit
                      attributedisplay: Operating System|Operating System Architecture|64-bit
                      attributename: Operating System Architecture
                    - headername: Operating System
                      attributevalue: Windows
                      attributedisplay: Operating System|Operating System Platform|Windows
                      attributename: Operating System Platform
                    - headername: Operating System
                      attributevalue: Dutch/English/French/German
                      attributedisplay: Operating System|Operating System Language|Dutch/English/French/German
                      attributename: Operating System Language
                    - headername: Physical Characteristics
                      attributevalue: 1.70 kg
                      attributedisplay: Physical Characteristics|Weight (Approximate)|1.70
                        kg
                      attributename: Weight (Approximate)
                    - headername: Physical Characteristics
                      attributevalue: 18.80 mm
                      attributedisplay: Physical Characteristics|Height|18.80 mm
                      attributename: Height
                    - headername: Physical Characteristics
                      attributevalue: 358.1 mm
                      attributedisplay: Physical Characteristics|Width|358.1 mm
                      attributename: Width
                    - headername: Physical Characteristics
                      attributevalue: 235 mm
                      attributedisplay: Physical Characteristics|Depth|235 mm
                      attributename: Depth
                    - headername: Physical Characteristics
                      attributevalue: Mineral Gray
                      attributedisplay: Physical Characteristics|Product Color|Mineral
                        Gray
                      attributename: Product Color
                    - headername: Power Description
                      attributevalue: 65 W
                      attributedisplay: Power Description|Maximum Power Supply Wattage|65
                        W
                      attributename: Maximum Power Supply Wattage
                    - headername: Processor
                      attributevalue: 2.40 GHz
                      attributedisplay: Processor|Processor Speed|2.40 GHz
                      attributename: Processor Speed
                    - headername: Processor
                      attributevalue: Core i5
                      attributedisplay: Processor|Processor Type|Core i5
                      attributename: Processor Type
                    - headername: Processor
                      attributevalue: i5-1135G7
                      attributedisplay: Processor|Processor Model|i5-1135G7
                      attributename: Processor Model
                    - headername: Processor
                      attributevalue: Quad-core (4 Core)
                      attributedisplay: Processor|Processor Core|Quad-core (4 Core)
                      attributename: Processor Core
                    - headername: Processor
                      attributevalue: Intel
                      attributedisplay: Processor|Processor Manufacturer|Intel
                      attributename: Processor Manufacturer
                    - headername: Processor
                      attributevalue: 4.20 GHz
                      attributedisplay: Processor|Maximum Turbo Speed|4.20 GHz
                      attributename: Maximum Turbo Speed
                    - headername: Processor
                      attributevalue: 11th Gen
                      attributedisplay: Processor|Processor Generation|11th Gen
                      attributename: Processor Generation
                    - headername: Storage
                      attributevalue: SSD
                      attributedisplay: Storage|Drive Type|SSD
                      attributename: Drive Type
                    - headername: Storage
                      attributevalue: "No"
                      attributedisplay: Storage|Optical Drive Type|No
                      attributename: Optical Drive Type
                    - headername: Storage
                      attributevalue: 256 GB
                      attributedisplay: Storage|Total Solid State Drive Capacity|256
                        GB
                      attributename: Total Solid State Drive Capacity
                    - headername: Storage
                      attributevalue: NVMe M.2 PCI Express
                      attributedisplay: Storage|SSD Form Factor|NVMe M.2 PCI Express
                      attributename: SSD Form Factor
                    warrantyInformation: []
                    additionalInformation:
                      productWeight:
                      - plantId: NL01
                        weight: 2.6
                        weightUnit: KG
                      isBulkFreight: false
                      height: "8"
                      width: "31"
                      length: "50"
                      netWeight: null
                      dimensionUnit: CM
              schema:
                $ref: '#/components/schemas/ProductDetailResponse'
          description: Success
        "400":
          content:
            application/json:
              examples:
                "400":
                  description: Bad Request
                  value:
                    errors:
                    - traceid: "123"
                      type: errors/bad-request
                      message: Input passed is not in right or expected format. Model
                        Binding Error Happens at Global Model Binding Exception Handler.
                      fields:
                      - field: IM-CustomerNumber
                        message: The customerNumber field is required.
                        value: ""
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              examples:
                "404 - Not Found":
                  value:
                    errors:
                    - id: 123
                      type: Validation error
                      message: No Records Found
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: No Content
        "500":
          content:
            application/json:
              examples:
                "500":
                  description: Internal Server Error
                  value:
                    errors:
                    - id: C123-bw0a10u3-2021-02-19T11:12:26.436-08:00
                      type: /errors/system-errors
                      message: "Some unexpected error occured, please contact support\
                        \ team for more details"
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - application:
        - read
      summary: Product Details
      tags:
      - Product Catalog
      x-accepts: application/json
  /resellers/v1/webhooks/availabilityupdate:
    post:
      parameters:
      - description: The webhook url where the request needs to sent.
        explode: false
        in: header
        name: targeturl
        required: true
        schema:
          example: https://59a2dc5368073ab42fd9a92e210a9fdb.m.pipedream.net/
          type: string
        style: simple
      - description: "Ingram Micro creates a signature token by use of a secret key\
          \ + Event ID. The algorithm to generate the secret ley is given at link\
          \ https://developer.ingrammicro.com/reseller/article/how-use-webhook-secret-key.\
          \ Use the event Id in the below sample along with your secret key to generate\
          \ the key. Alternatively, to send try this out, use a random text to see\
          \ how it works."
        explode: false
        in: header
        name: x-hub-signature
        required: true
        schema:
          example: 3LeaTfLE5FLj1FcYflwdwFosH4ADHmMbds6thtirGC3e9lEkF9/1pt4T2fQQGlxf40EznDBER0b60M75K6ZW0A==
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Order with Header Comments:
                value:
                  topic: resellers/catalog
                  event: im::updated
                  eventTimeStamp: 2021-11-01T13:02:06.369Z
                  eventId: AH7ESSIWSIO22Y77DD
                  resource:
                  - eventType: IM::STOCK_UPDATE
                    ingramPartNumber: 5CX579
                    vendorPartNumber: 710412-001-BTI
                    vendorName: BATTERY TECHNOLOGY INC.
                    upcCode: "0886734869201"
                    skuStatus: null
                    backOrderFlag: "Y"
                    totalAvailability: "120"
                    links:
                    - topic: orders
                      href: /resellers/v5/catalog/5CX579
                      type: GET
                  - eventType: IM::STOCK_UPDATE
                    ingramPartNumber: 5CT275
                    vendorPartNumber: AC-U90W-HP
                    vendorName: BATTERY TECHNOLOGY INC.
                    upcCode: "0745473120182"
                    skuStatus: null
                    backOrderFlag: "Y"
                    totalAvailability: "120"
                    links:
                    - topic: orders
                      href: /resellers/v5/catalog/5CT275
                      type: GET
            schema:
              $ref: '#/components/schemas/AvailabilityAsyncNotificationRequest'
        required: true
      responses:
        "200":
          description: OK
        "500":
          description: Internal Server Error
      security:
      - application:
        - read
      summary: Stock Update
      tags:
      - StockUpdate
      x-content-type: application/json
      x-accepts: application/json
  /resellers/v1/webhooks/orderstatusevent:
    post:
      parameters:
      - description: The webhook url where the request needs to sent.
        explode: false
        in: header
        name: targeturl
        required: true
        schema:
          example: https://59a2dc5368073ab42fd9a92e210a9fdb.m.pipedream.net/
          type: string
        style: simple
      - description: "Ingram Micro creates a signature token by use of a secret key\
          \ + Event ID. The algorithm to generate the secret ley is given at link\
          \ https://developer.ingrammicro.com/reseller/article/how-use-webhook-secret-key.\
          \ Use the event Id in the below sample along with your secret key to generate\
          \ the key. Alternatively, to send try this out, use a random text to see\
          \ how it works."
        explode: false
        in: header
        name: x-hub-signature
        required: true
        schema:
          example: 3LeaTfLE5FLj1FcYflwdwFosH4ADHmMbds6thtirGC3e9lEkF9/1pt4T2fQQGlxf40EznDBER0b60M75K6ZW0A==
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Order with Header Comments:
                value:
                  topic: resellers/orders
                  event: im::updated
                  eventTimeStamp: 2021-11-01T13:02:06.369Z
                  eventId: N01CIB9VVFYKR9J6ZW
                  resource:
                  - eventType: im::order_shipped
                    orderNumber: 20-RD128
                    customerOrderNumber: ZENPO
                    orderEntryTimeStamp: 2020-04-03T08:54:39-07:00
                    lines:
                    - ingramLineNumber: "001"
                      subOrderNumber: 20-RD128-21
                      lineStatus: IM::shipped
                      ingramPartNumber: 5CX895
                      vendorPartNumber: TC57HO-1PEZU4P-NA
                      requestedQuantity: 3
                      shippedQuantity: 2
                      backOrderedQuantity: 1
                      shipmentDetails:
                      - shipmentDate: 2019-11-06
                        shipFromWarehouseId: "10"
                        warehouseName: New York
                        carrierCode: 4M
                        carrierName: SMARTPOST-BM
                        packageDetails:
                        - cartonNumber: ""
                          quantityInbox: ""
                          trackingNumber: ""
                      serialNumberDetails:
                      - serialNumber: "123123123"
                    links:
                    - topic: orders
                      href: /resellers/v5/orders/20-RD128
                      type: GET
            schema:
              $ref: '#/components/schemas/OrderStatusAsyncNotificationRequest'
        required: true
      responses:
        "200":
          description: OK
        "500":
          description: Internal Server Error
      security:
      - application:
        - read
      summary: Order Status
      tags:
      - OrderStatus
      x-content-type: application/json
      x-accepts: application/json
  /resellers/v6/orders:
    post:
      description: "Instantly create and place orders. The POST API supports stocked\
        \ SKUs as well as licensing and warranties SKUs.\nIM-CustomerNumber, IM-CountryCode,\
        \ IM-SenderID and IM-CorrelationID are required parameters.\nIngram Micro\
        \ recommends that you provide the ingrampartnumber for each SKU contained\
        \ in each order.\nNOTE: You must have net terms to use the Ingram Micro Order\
        \ Create API. Ingram Micro offers trade credit when using our APIs, and repayment\
        \ is based on net terms. For example, if your net terms agreement is net-30,\
        \ you will have 30 days to make a full payment. Ingram Micro does not allow\
        \ credit card transactions for API ordering. "
      operationId: post-createorder_v6
      parameters:
      - description: Your unique Ingram Micro customer number.
        explode: false
        in: header
        name: IM-CustomerNumber
        required: true
        schema:
          example: 20-222222
          maxLength: 10
          type: string
        style: simple
      - description: Two-character ISO country code.
        explode: false
        in: header
        name: IM-CountryCode
        required: true
        schema:
          example: US
          maxLength: 2
          minLength: 2
          type: string
        style: simple
      - description: "Unique value used to identify the sender of the transaction.\
          \ Example: MyCompany"
        explode: false
        in: header
        name: IM-SenderID
        required: false
        schema:
          example: MyCompany
          maxLength: 32
          type: string
        style: simple
      - description: Unique transaction number to identify each transaction accross
          all the systems.
        explode: false
        in: header
        name: IM-CorrelationID
        required: true
        schema:
          example: fbac82ba-cf0a-4bcf-fc03-0c5084
          maxLength: 32
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Order with Header Comments:
                value:
                  customerOrderNumber: SWAGGER-01
                  notes: This is the field for comments
                  lines:
                  - customerLineNumber: "1"
                    ingramPartNumber: DF4128
                    quantity: 1
                  additionalAttributes:
                  - attributeName: allowDuplicateCustomerOrderNumber
                    attributeValue: "true"
              Shipping Instructions and Signature Required:
                value:
                  customerOrderNumber: SHIPVIAeg
                  shipToInfo:
                    email: dummy.email@ingrammicro.co.in
                  lines:
                  - customerLineNumber: "1"
                    ingramPartNumber: 4U0212
                    quantity: 1
                  additionalAttributes:
                  - attributeName: allowDuplicateCustomerOrderNumber
                    attributeValue: "true"
                  shipmentDetails:
                    signatureRequired: "true"
                    shippingInstructions: This is the shipping instruction for this
                      order
              Combined Order(Stock + Direct ship):
                value:
                  customerOrderNumber: Tejal899
                  endCustomerOrderNumber: ENDUSER
                  notes: direct ship and stock Order
                  shipToInfo:
                    contact: TOM SORENSEN
                    companyName: FIRST NATIONAL BANK OF OMAHA
                    addressLine1: 17501 W 98TH ST SPC 1833
                    city: LENEXA
                    state: KS
                    postalCode: "662191736"
                    countryCode: US
                  lines:
                  - customerLineNumber: "1"
                    ingramPartNumber: DF4128
                    quantity: 1
                  - customerLineNumber: "1"
                    ingramPartNumber: RQ6000
                    quantity: 1
                  additionalAttributes:
                  - attributeName: allowDuplicateCustomerOrderNumber
                    attributeValue: "true"
              Ship from warehouseid:
                value:
                  customerOrderNumber: newcustomerPO4
                  notes: this is an partial order process sample
                  billToAddressId: "000"
                  lines:
                  - customerLineNumber: "1"
                    ingramPartNumber: DF4128
                    quantity: 1
                  additionalAttributes:
                  - attributeName: shipFromWarehouseId
                    attributeValue: "10"
                  - attributeName: allowDuplicateCustomerOrderNumber
                    attributeValue: "true"
              Ship Complete Order:
                value:
                  customerOrderNumber: THIS_IS-121
                  shipToInfo:
                    email: dummy.email@ingrammicro.co.in
                  lines:
                  - customerLineNumber: "1"
                    ingramPartNumber: 4U0212
                    quantity: 1
                  additionalAttributes:
                  - attributeName: allowPartialOrder
                    attributeValue: "true"
                  - attributeName: allowDuplicateCustomerOrderNumber
                    attributeValue: "true"
                  shipmentDetails:
                    shipComplete: "true"
              Partial Order and Special Bid Number:
                value:
                  customerOrderNumber: newcustomerPO4
                  specialBidNumber: "43426380"
                  notes: this is an partial order process sample
                  billToAddressId: "000"
                  shipToInfo:
                    contact: TOM SORENSEN
                    companyName: FIRST NATIONAL BANK OF OMAHA
                    addressLine1: 17501 W 98TH ST SPC 1833
                    city: LENEXA
                    state: KS
                    postalCode: "662191736"
                    countryCode: US
                  lines:
                  - customerLineNumber: "1"
                    ingramPartNumber: DF4128
                    quantity: 1
                  - customerLineNumber: "1"
                    ingramPartNumber: XXXXXX
                    quantity: 1
                  additionalAttributes:
                  - attributeName: allowPartialOrder
                    attributeValue: "true"
                  - attributeName: allowDuplicateCustomerOrderNumber
                    attributeValue: "true"
              Backordered Request:
                value:
                  customerOrderNumber: newcustomerP1O6
                  notes: this is backorder sample
                  acceptBackOrder: "true"
                  shipToInfo:
                    contact: TOM SORENSEN
                    companyName: FIRST NATIONAL BANK OF OMAHA
                    addressLine1: 17501 W 98TH ST SPC 1833
                    city: LENEXA
                    state: KS
                    postalCode: "662191736"
                    countryCode: US
                  lines:
                  - customerLineNumber: "1"
                    ingramPartNumber: DF4128
                    quantity: 1
                  additionalAttributes:
                  - attributeName: allowDuplicateCustomerOrderNumber
                    attributeValue: "true"
              Order with CarrierCode & Freight Acount Number:
                value:
                  customerOrderNumber: SPCLBID1
                  notes: Sample Order with Required Shipvia
                  lines:
                  - customerLineNumber: "1"
                    ingramPartNumber: DF4128
                    quantity: 1
                    unitPrice: 60
                  shipmentDetails:
                    carrierCode: RG
                    freightAccountNumber: FRT100
                  additionalAttributes:
                  - attributeName: allowDuplicateCustomerOrderNumber
                    attributeValue: "true"
              Order on CustomerHold:
                value:
                  customerOrderNumber: SWAGGER-01
                  notes: CustomerHoldOrderSample
                  lines:
                  - customerLineNumber: "1"
                    ingramPartNumber: DF4128
                    quantity: 1
                  additionalAttributes:
                  - attributeName: allowDuplicateCustomerOrderNumber
                    attributeValue: "true"
                  - attributeName: allowOrderOnCustomerHold
                    attributeValue: "true"
              Requested Unit Price or Price Variance:
                value:
                  customerOrderNumber: SWAGGER-02
                  specialBidNumber: "43426380"
                  notes: Test Order for Unit Price
                  lines:
                  - customerLineNumber: "1"
                    ingramPartNumber: TSXML1
                    quantity: 1
                    unitPrice: 10
                  additionalAttributes:
                  - attributeName: allowDuplicateCustomerOrderNumber
                    attributeValue: "true"
              Direct Ship with EndUser Info:
                value:
                  customerOrderNumber: newcustomerPO9
                  notes: This is enduser info Order
                  shipToInfo:
                    contact: Customer 1
                    companyName: ABC priavte Ltd
                    addressLine1: 7001 SW 24th Ave
                    addressLine2: testing
                    city: Gainesville
                    state: FL
                    postalCode: "326070001"
                    countryCode: US
                    phoneNumber: "987654321"
                    email: testing@yaho.com
                  endUserInfo:
                    endUserId: ""
                    companyName: MEDECISION INC
                    contact: AARON RICCITELLI
                    addressLine1: 601 LEE RD
                    city: wayne
                    state: pa
                    postalCode: "190875607"
                    countryCode: US
                    phoneNumber: "6105400202"
                    email: aaron.riccitelli@medecision.com
                  lines:
                  - customerLineNumber: "1"
                    ingramPartNumber: YZ1478
                    quantity: 1
                  additionalAttributes:
                  - attributeName: allowDuplicateCustomerOrderNumber
                    attributeValue: "true"
              Order with Shipping Address:
                value:
                  customerOrderNumber: SWAGGER-03
                  endCustomerOrderNumber: ENDUSER1
                  notes: Order with Shipping Address
                  shipToInfo:
                    contact: TOM SORENSEN
                    companyName: FIRST NATIONAL BANK OF OMAHA
                    addressLine1: 17501 W 98TH ST SPC 1833
                    city: LENEXA
                    state: KS
                    postalCode: "662191736"
                    countryCode: US
                    phoneNumber: "987654321"
                    email: testing@yaho.com
                  lines:
                  - customerLineNumber: "1"
                    ingramPartNumber: DF4128
                    quantity: 1
                  additionalAttributes:
                  - attributeName: allowDuplicateCustomerOrderNumber
                    attributeValue: "true"
              All Distributions ShipComplete-SplitOrder:
                value:
                  customerOrderNumber: newcustomerP1O6
                  notes: this is a Ship Complete Order
                  acceptBackOrder: "true"
                  shipToInfo:
                    contact: TOM SORENSEN
                    companyName: FIRST NATIONAL BANK OF OMAHA
                    addressLine1: 17501 W 98TH ST SPC 1833
                    city: LENEXA
                    state: KS
                    postalCode: "662191736"
                    countryCode: US
                  lines:
                  - customerLineNumber: "1"
                    ingramPartNumber: DF4128
                    quantity: 10
                  - customerLineNumber: "2"
                    ingramPartNumber: RQ6000
                    quantity: 1
                  additionalAttributes:
                  - attributeName: allowDuplicateCustomerOrderNumber
                    attributeValue: "true"
                  shipmentDetails:
                    shipComplete: E
              APPLE DEP Sample:
                value:
                  customerOrderNumber: APPLE DEP-01
                  notes: this is APPLE DEP sample
                  lines:
                  - customerLineNumber: "1"
                    ingramPartNumber: DF4128
                    quantity: 10
                  additionalAttributes:
                  - attributeName: allowDuplicateCustomerOrderNumber
                    attributeValue: "true"
                  - attributeName: eudepid
                    attributeValue: DepIDTest1
                  - attributeName: depordernbr
                    attributeValue: Test1
              Order with CPN - SAP:
                value:
                  customerOrderNumber: Order with CPN-SAP
                  lines:
                  - customerLineNumber: "2"
                    customerPartNumber: 90NB0GI4-M03110
                    quantity: 1
              Warranty order sample:
                value:
                  customerOrderNumber: Warranty-01
                  endCustomerOrderNumber: Warranty-01
                  notes: Multiple Line items with Hardware and Warranty links
                  resellerInfo:
                    companyName: Dummy
                    email: dummy.email@ingrammicro.co.in
                  vmf:
                    vendAuthNumber: MJDVATC10001A
                  lines:
                  - customerLineNumber: "001"
                    ingramPartNumber: 9VL970
                    quantity: 2
                    additionalAttributes:
                    - attributeName: SHIPFROMWAREHOUSEID
                      attributeValue: "10"
                    warrantyInfo:
                    - directLineLink: MJDVATC10001B
                  - customerLineNumber: "002"
                    ingramPartNumber: 8RB884
                    quantity: 2
                    additionalAttributes:
                    - attributeName: SHIPFROMWAREHOUSEID
                      attributeValue: "10"
                    warrantyInfo:
                    - warrantyLineLink: "005"
                  - customerLineNumber: "003"
                    ingramPartNumber: 8RB881
                    quantity: 3
                    additionalAttributes:
                    - attributeName: SHIPFROMWAREHOUSEID
                      attributeValue: "40"
                    warrantyInfo:
                    - warrantyLineLink: "006"
                  - customerLineNumber: "004"
                    ingramPartNumber: 9YG948
                    quantity: 2
                    additionalAttributes:
                    - attributeName: SHIPFROMWAREHOUSEID
                      attributeValue: "49"
                    endUserInfo:
                    - endUserId: "5"
                      addressSequenceNumber: "1"
                      contactId: "1"
                      contact: Dummy John
                      phoneNumber: "78776777771"
                      email: dummy.email1@ingrammicro.co.in
                    warrantyInfo:
                    - directLineLink: MJDVATC10001B
                  - customerLineNumber: "005"
                    ingramPartNumber: 9HG002
                    quantity: 1
                    additionalAttributes:
                    - attributeName: SHIPFROMWAREHOUSEID
                      attributeValue: "49"
                    endUserInfo:
                    - endUserId: "5"
                      addressSequenceNumber: "1"
                      contactId: "1"
                      contact: Dummy John
                      phoneNumber: "78776777771"
                      email: dummy.email1@ingrammicro.co.in
                    warrantyInfo:
                    - hardwareLineLink: "002"
                  - customerLineNumber: "006"
                    ingramPartNumber: 9HF999
                    quantity: 3
                    additionalAttributes:
                    - attributeName: SHIPFROMWAREHOUSEID
                      attributeValue: "49"
                    endUserInfo:
                    - endUserId: "5"
                      addressSequenceNumber: "1"
                      contactId: "1"
                      contact: Dummy John
                      phoneNumber: "78776777771"
                      email: dummy.email1@ingrammicro.co.in
                    warrantyInfo:
                    - hardwareLineLink: "003"
                  additionalAttributes:
                  - attributeName: enableCommentsAsLines
                    attributeValue: "true"
                  - attributeName: allowDuplicateCustomerOrderNumber
                    attributeValue: "true"
                  - attributeName: allowOrderOnCustomerHold
                    attributeValue: "false"
              Govt fields with End User Info:
                value:
                  customerOrderNumber: GovtOrder-01
                  endCustomerOrderNumber: EPK_01081841
                  endUserInfo:
                    companyName: US AIR FORCEE
                    addressLine1: 14300 FANG DR
                    city: JACKSONVILLE
                    state: FL
                    postalCode: "322187933"
                    countryCode: US
                    phoneNumber: "4786620376"
                    email: MATT.DIXON@US.AF.MIL
                  lines:
                  - customerLineNumber: "1"
                    ingramPartNumber: 4A0036
                    quantity: "1,"
                    unitPrice: 41.71
                  additionalAttributes:
                  - attributeName: allowDuplicateCustomerOrderNumber
                    attributeValue: "true"
                  - attributeName: govtProgramType
                    attributeValue: PA
                  - attributeName: govtEndUserType
                    attributeValue: F
                  - attributeName: govtSolicitationNumber
                    attributeValue: "438"
                  - attributeName: govtEndUserData
                    attributeValue: US AIR FORCEE
                  - attributeName: govtEndUserPostalCode
                    attributeValue: "322187933"
                  - attributeName: govtPublicPrivateCode
                    attributeValue: P
            schema:
              $ref: '#/components/schemas/OrderCreateRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                Order with Header Comments Response:
                  value:
                    customerOrderNumber: SWAGGER-01
                    billToAddressId: "000"
                    orderSplit: false
                    processedPartially: false
                    purchaseOrderTotal: 14.29
                    resellerInfo: {}
                    shipToInfo:
                      addressId: "200"
                      companyName: INGRAM MICRO TEST ACCOUNT
                      addressLine1: ATTN TOD DEBIE
                      addressLine2: 1610 E SAINT ANDREW PL
                      city: SANTA ANA
                      state: CA
                      postalCode: "927054931"
                      countryCode: US
                    orders:
                    - numberOfLinesWithSuccess: 1
                      numberOfLinesWithError: 0
                      numberOfLinesWithWarning: 0
                      ingramOrderNumber: 20-RFKW4
                      ingramOrderDate: 2021-05-26
                      notes: ""
                      orderType: S
                      orderTotal: 14.29
                      freightCharges: 14.29
                      totalTax: 0
                      currencyCode: USD
                      lines:
                      - subOrderNumber: 20-RFKW4-11
                        ingramLineNumber: "001"
                        customerLineNumber: "1"
                        lineStatus: Backordered
                        ingramPartNumber: DF4128
                        unitPrice: 61.22
                        extendedUnitPrice: 0
                        quantityOrdered: 1
                        quantityConfirmed: 0
                        quantityBackOrdered: 1
                        notes: COMBO WAVE MK550 WRLS DESKTOP  WRLS || WRLS LASER MOUSE
                        shipmentDetails:
                          carrierCode: O1
                          carrierName: ONTRAC
                          shipFromWarehouseId: "10"
                          shipFromLocation: "Mira Loma, CA"
                      links:
                      - topic: orders
                        href: /resellers/v6/orders/20-RFKW4
                        type: GET
                Order on customer Hold:
                  value:
                    customerOrderNumber: SWAGGER-01
                    billToAddressId: "000"
                    orderSplit: false
                    processedPartially: false
                    purchaseOrderTotal: 0
                    resellerInfo: {}
                    shipToInfo:
                      addressId: "200"
                      companyName: INGRAM MICRO TEST ACCOUNT
                      addressLine1: ATTN TOD DEBIE
                      addressLine2: 1610 E SAINT ANDREW PL
                      city: SANTA ANA
                      state: CA
                      postalCode: "927054931"
                      countryCode: US
                    orders:
                    - numberOfLinesWithSuccess: 1
                      numberOfLinesWithError: 0
                      numberOfLinesWithWarning: 0
                      ingramOrderNumber: 20-RFKWQ
                      ingramOrderDate: 2021-05-26
                      notes: CUSTOMERHOLDORDERSAMPLE
                      orderType: S
                      orderTotal: 0
                      freightCharges: 0
                      totalTax: 0
                      currencyCode: USD
                      lines:
                      - subOrderNumber: 20-RFKWQ-11
                        ingramLineNumber: "002"
                        customerLineNumber: "1"
                        lineStatus: Backordered
                        ingramPartNumber: DF4128
                        unitPrice: 61.22
                        extendedUnitPrice: 0
                        quantityOrdered: 1
                        quantityConfirmed: 0
                        quantityBackOrdered: 1
                        notes: COMBO WAVE MK550 WRLS DESKTOP  WRLS || WRLS LASER MOUSE
                        shipmentDetails:
                          carrierCode: XC
                          carrierName: RG 3001   ND
                          shipFromWarehouseId: "10"
                          shipFromLocation: "Mira Loma, CA"
                      links:
                      - topic: orders
                        href: /resellers/v6/orders/20-RFKWQ
                        type: GET
                Ship Complete Order Response:
                  value:
                    customerOrderNumber: THIS_IS-12
                    billToAddressId: "000"
                    orderSplit: false
                    processedPartially: false
                    purchaseOrderTotal: 70.84
                    resellerInfo: {}
                    shipToInfo:
                      addressId: "200"
                      companyName: INGRAM MICRO TEST ACCOUNT
                      addressLine1: ATTN TOD DEBIE
                      addressLine2: 1610 E SAINT ANDREW PL
                      city: SANTA ANA
                      state: CA
                      postalCode: "927054931"
                      countryCode: US
                    orders:
                    - numberOfLinesWithSuccess: 1
                      numberOfLinesWithError: 0
                      numberOfLinesWithWarning: 0
                      ingramOrderNumber: 20-RFJN3
                      ingramOrderDate: 2021-05-13
                      notes: ////ORDER HEADER
                      orderType: D
                      orderTotal: 70.84
                      freightCharges: 0
                      totalTax: 0
                      currencyCode: USD
                      lines:
                      - subOrderNumber: 20-RFJN3-11
                        ingramLineNumber: "002"
                        customerLineNumber: "1"
                        lineStatus: In Progress
                        ingramPartNumber: 4U0212
                        unitPrice: 70.84
                        extendedUnitPrice: 70.84
                        quantityOrdered: 1
                        quantityConfirmed: 1
                        quantityBackOrdered: 0
                        notes: 3YR NBD EXCH SJ PRO 3XXX SVC   SVCS
                        shipmentDetails:
                          carrierCode: VL
                          carrierName: VIRTUAL
                          shipFromWarehouseId: "10"
                          shipFromLocation: "Mira Loma, CA"
                      links:
                      - topic: orders
                        href: /resellers/v6/orders/20-RFJN3
                        type: GET
                Backordered response:
                  value:
                    customerOrderNumber: NEWCUSTOMERP1O6
                    billToAddressId: "000"
                    orderSplit: false
                    processedPartially: false
                    purchaseOrderTotal: 7.83
                    resellerInfo: {}
                    shipToInfo:
                      contact: TOM SORENSEN
                      companyName: FIRST NATIONAL BANK OF OMAHA
                      addressLine1: 17501 W 98TH ST SPC 1833
                      city: LENEXA
                      state: KS
                      postalCode: "662191736"
                      countryCode: US
                    orders:
                    - numberOfLinesWithSuccess: 1
                      numberOfLinesWithError: 0
                      numberOfLinesWithWarning: 0
                      ingramOrderNumber: 20-RFKWP
                      ingramOrderDate: 2021-05-26
                      notes: ""
                      orderType: S
                      orderTotal: 7.83
                      freightCharges: 7.83
                      totalTax: 0
                      currencyCode: USD
                      lines:
                      - subOrderNumber: 20-RFKWP-11
                        ingramLineNumber: "002"
                        customerLineNumber: "1"
                        lineStatus: Backordered
                        ingramPartNumber: DF4128
                        unitPrice: 61.22
                        extendedUnitPrice: 0
                        quantityOrdered: 1
                        quantityConfirmed: 0
                        quantityBackOrdered: 1
                        notes: COMBO WAVE MK550 WRLS DESKTOP  WRLS || WRLS LASER MOUSE
                        shipmentDetails:
                          carrierCode: 4M
                          carrierName: SMARTPOST-BM
                          shipFromWarehouseId: "30"
                          shipFromLocation: "Millington, TN"
                      miscellaneousCharges:
                      - subOrderNumber: 20-RFKWP-11
                        chargeLineReference: "895"
                        chargeDescription: FREE FREIGHT
                        chargeAmount: 0
                      links:
                      - topic: orders
                        href: /resellers/v6/orders/20-RFKWP
                        type: GET
                Shipping Instruction and Signature Required:
                  value:
                    customerOrderNumber: SHIPVIAEG
                    billToAddressId: "20-RFKKT : 000"
                    orderSplit: false
                    processedPartially: false
                    purchaseOrderTotal: 70.84
                    resellerInfo: {}
                    shipToInfo:
                      addressId: "20-RFKKT : 200"
                      companyName: INGRAM MICRO TEST ACCOUNT
                      addressLine1: ATTN TOD DEBIE
                      addressLine2: 1610 E SAINT ANDREW PL
                      city: SANTA ANA
                      state: CA
                      postalCode: "927054931"
                      countryCode: US
                    orders:
                    - numberOfLinesWithSuccess: 1
                      numberOfLinesWithError: 0
                      numberOfLinesWithWarning: 0
                      ingramOrderNumber: 20-RFKKT
                      ingramOrderDate: 2021-05-24
                      notes: "20-RFKKT : ///SHPI:THIS IS THE SHIPPING INSTRU || 20-RFKKT\
                        \ : ///SHPI:CTION FOR THIS ORDER"
                      orderType: D
                      orderTotal: 70.84
                      freightCharges: 0
                      totalTax: 0
                      currencyCode: "20-RFKKT : USD"
                      lines:
                      - subOrderNumber: 20-RFKKT-11
                        ingramLineNumber: "003"
                        customerLineNumber: "1"
                        lineStatus: In Progress
                        ingramPartNumber: 4U0212
                        unitPrice: 70.84
                        extendedUnitPrice: 70.84
                        quantityOrdered: 1
                        quantityConfirmed: 1
                        quantityBackOrdered: 0
                        notes: 3YR NBD EXCH SJ PRO 3XXX SVC   SVCS
                        shipmentDetails:
                          carrierCode: VL
                          carrierName: VIRTUAL
                          shipFromWarehouseId: "10"
                          shipFromLocation: "Mira Loma, CA"
                          signatureRequired: "true"
                          shippingInstructions: This is the shipping instruction for
                            this order
                      links:
                      - topic: orders
                        href: /resellers/v6/orders/20-RFKKT
                        type: GET
                Carrier Code & Fright Account Number Response:
                  value:
                    customerOrderNumber: SPCLBID1
                    billToAddressId: "000"
                    orderSplit: false
                    processedPartially: false
                    purchaseOrderTotal: 9.54
                    resellerInfo: {}
                    shipToInfo:
                      addressId: "200"
                      companyName: INGRAM MICRO TEST ACCOUNT
                      addressLine1: ATTN TOD DEBIE
                      addressLine2: 1610 E SAINT ANDREW PL
                      city: SANTA ANA
                      state: CA
                      postalCode: "927054931"
                      countryCode: US
                    orders:
                    - numberOfLinesWithSuccess: 1
                      numberOfLinesWithError: 0
                      numberOfLinesWithWarning: 0
                      ingramOrderNumber: 20-RFK3K
                      ingramOrderDate: 2021-05-21
                      notes: TESTING MAULTIPLE LINE ITEMS
                      orderType: S
                      orderTotal: 9.54
                      freightCharges: 9.54
                      totalTax: 0
                      currencyCode: USD
                      lines:
                      - subOrderNumber: 20-RFK3K-11
                        ingramLineNumber: "002"
                        customerLineNumber: "1"
                        lineStatus: Backordered
                        ingramPartNumber: DF4128
                        unitPrice: 61.22
                        extendedUnitPrice: 0
                        quantityOrdered: 1
                        quantityConfirmed: 0
                        quantityBackOrdered: 1
                        notes: COMBO WAVE MK550 WRLS DESKTOP  WRLS || WRLS LASER MOUSE
                        shipmentDetails:
                          carrierCode: RG
                          carrierName: FEDEX GROUND
                          shipFromWarehouseId: "10"
                          shipFromLocation: "Mira Loma, CA"
                          freightAccountNumber: FRT100
                      miscellaneousCharges:
[...]
